/*CSS DOCUMENT*/

body{
	font-family: mr-eaves-modern;
	margin-right: .75em;
	margin-left: .75em;
}

#logo{
	width:5em;
	padding-left: 0.2em;
}

nav, ul, li, a {
	list-style: none;
	display: inline;
	text-decoration: none;
	color: rgb(38,38,38);

}

.space{
	margin-right: .3em;
}

h1{
	float: left;
}

nav{
	float: right;
	display: inline;
	padding-top:2.2em;	
}

.intro_image{
	width: 100%;
	filter: brightness(65%);	
}


h2 {
	position: absolute;
	padding-left: 1.2em;
	text-align: center;
	transform: translate(5%, -47%);
	color: white;
	font-size: 2em;
	padding-bottom:10em;
	padding-top: 2em;
	width: 8em;
}

h3{
	text-align: center;
	font-size: 2.6em;
	margin-top: 1.3em;
	margin-bottom: 1em;
}

.exerpt{
	font-size: 1.3em;
	line-height: 1.6em;
	margin-top: 0em;
	float:none;
	clear: both;

}

.half_image{
	width: 60%;
	padding-bottom: 2em;
	margin-left: auto;
    margin-right: auto;

}

.stand_alone{
	width: 80%;

}

.section_name{
	text-align: center;
	font-size: 2em;
	padding-bottom: 0em;
	margin-bottom: .3em;
}

.section_items{
	list-style: none;
	display: inline;
}

.main_menu, .exerpt, .stand_alone , .intro_content, .home, .about_content{
	text-align: center;
}

.item_name, .location_name{
	font-weight: 700;
	font-style: normal;
	font-size:1.3em;
	line-height: 0em;
}

.location_name{
	
}

.item_description{
	font-size:1.1em;
	line-height: 1.5em;
}

.item_price{
	font-weight: 400;
	font-style: italic;
	padding-bottom: 1em;
}

.item_price, .item_description{
	color: rgb(40,40,40);
}

.location{
	text-align: center;

}


hr{
	width: 40%;
	margin-bottom: 0em;
}

footer{
	margin-top:2.5em;
	margin-bottom:0em;
	text-align: center;
	height: 4em;
}



